---

- name: Check for RIKEN in the apt sources
  shell: grep -r ftp.riken.jp /etc/apt/sources.list*
  register: riken_check
  ignore_errors: yes

- name: Backup of apt sources
  copy:
    src: /etc/apt/sources.list.d/ubuntu.sources
    dest: /etc/apt/sources.list.d/ubuntu.sources.ansible_backup
    remote_src: yes
    force: no
  when: '"riken" not in riken_check.stdout'

- name: Replace apt sources to RIKEN
  replace: 
    path: /etc/apt/sources.list.d/ubuntu.sources
    regexp: "{{ item }}"
    replace: ftp.riken.jp/Linux
  with_items:
    - jp.archive.ubuntu.com
    - security.ubuntu.com
  when: '"riken" not in riken_check.stdout'

- name: Update all packages to their latest version
  apt:
    name: "*"
    state: latest
    update_cache: yes


- name: Download sublime text gpg key
  get_url:
    url: https://download.sublimetext.com/sublimehq-pub.gpg
    dest: /etc/apt/keyrings/sublimehq-pub.asc
    checksum: sha256:98f46245b37b29321b1284abec13b164f8d7a97a26506badf8def11d35e92ea6 

- name: Set Sources list for sublime text
  copy: 
    src: sublime-text.sources
    dest: /etc/apt/sources.list.d/sublime-text.sources

- name: Download Projectm for visualizations
  get_url:
    url: https://github.com/kblaschke/frontend-sdl2/releases/download/2.0-linux-pre2/projectMSDL-2.0.0-Linux-x86_64.deb
    dest: /tmp/projectMSDL-2.0.0-Linux-x86_64.deb

- name: Install projectm
  apt:
    deb: /tmp/projectMSDL-2.0.0-Linux-x86_64.deb

- name: Install basics programs
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop:
    - "keepassxc"
    - "clementine"
    - "sublime-text"
    - "sublime-merge"
    - "sl"
    - "rygel"
    - "ibus-mozc"



